<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>aipRealm</realm-name>
    </login-config>
    <security-role>
        <description>Logged in Users</description>
        <role-name>USER</role-name>
    </security-role>
    <security-role>
        <description>Administrators</description>
        <role-name>ADMIN</role-name>
    </security-role>
    <security-role>
        <description>Users with inactivated account</description>
        <role-name>INACTIVATED</role-name>
    </security-role>
    <security-role>
        <description>User that have their id verified</description>
        <role-name>VERIFIED USER</role-name>
    </security-role>
    <security-role>
        <description>Banned users</description>
        <role-name>BANNED</role-name>
    </security-role>
    
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    
    <context-param>
        <param-name>clientURL</param-name>
        <param-value>http://localhost:3000</param-value>
    </context-param>
</web-app>
